/postgres-keycloak-data
2024__yandex-architecture-sso.code-workspace
/backend/BionicPRO/.vs/BionicPRO/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
/backend/BionicPRO/.vs/BionicPRO/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
/backend/BionicPRO/.vs/BionicPRO/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
/backend/BionicPRO/.vs/BionicPRO/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
/backend/BionicPRO/.vs/BionicPRO/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
/backend/BionicPRO/.vs/BionicPRO/DesignTimeBuild/.dtbcache.v2
/backend/BionicPRO/.vs/BionicPRO/FileContentIndex/04ddd8a3-fb05-4231-820b-989e3ea5c0f9.vsidx
/backend/BionicPRO/.vs/BionicPRO/FileContentIndex/284e51d4-b250-4a43-8361-bc338e549f0e.vsidx
/backend/BionicPRO/.vs/BionicPRO/FileContentIndex/84525d77-ea8f-4973-ac58-836251414c72.vsidx
/backend/BionicPRO/.vs/BionicPRO/FileContentIndex/eeb2f510-78c1-45ff-9d70-f896f9b6f9fc.vsidx
/backend/BionicPRO/.vs/BionicPRO/FileContentIndex/ffa675e9-0dae-4aa9-a6f6-7bd73a457517.vsidx
/backend/BionicPRO/.vs/BionicPRO/v17/.suo
/backend/BionicPRO/.vs/BionicPRO/v17/DocumentLayout.json
/backend/BionicPRO/obj/Container/AbsoluteOutputAssemblyPath.cache
/backend/BionicPRO/obj/Container/AdditionalProbingPaths.cache
/backend/BionicPRO/obj/Container/ContainerDevelopmentMode.cache
/backend/BionicPRO/obj/Container/ContainerId.cache
/backend/BionicPRO/obj/Container/ContainerName.cache
/backend/BionicPRO/obj/Container/ContainerOperatingSystemFlavor.cache
/backend/BionicPRO/obj/Container/ContainerRunContext.cache
/backend/BionicPRO/obj/Container/DebuggeeArguments.cache
/backend/BionicPRO/obj/Container/DebuggeeKillProcessCommand.cache
/backend/BionicPRO/obj/Container/DebuggeeProgram.cache
/backend/BionicPRO/obj/Container/DebuggeeWorkingDirectory.cache
/backend/BionicPRO/obj/Container/DistrolessHelperSupported.cache
/backend/BionicPRO/obj/Container/FastModeProjectMountDirectory.cache
/backend/BionicPRO/obj/Container/ImageBuildContext.cache
/backend/BionicPRO/obj/Container/ImageId.cache
/backend/BionicPRO/obj/Container/LaunchedImageId.cache
/backend/BionicPRO/obj/Container/OperatingSystemName.cache
/backend/BionicPRO/obj/Container/TargetFramework.cache
/backend/BionicPRO/obj/Container/VolumeMappings.cache
/backend/BionicPRO/obj/Container/VolumeMappings2.cache
/backend/BionicPRO/obj/Container/VsDbgScript.cache
/backend/BionicPRO/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/backend/BionicPRO/obj/Debug/net8.0/BionicPRO.AssemblyInfo.cs
/backend/BionicPRO/obj/Debug/net8.0/BionicPRO.AssemblyInfoInputs.cache
/backend/BionicPRO/obj/Debug/net8.0/BionicPRO.assets.cache
/backend/BionicPRO/obj/Debug/net8.0/BionicPRO.csproj.AssemblyReference.cache
/backend/BionicPRO/obj/Debug/net8.0/BionicPRO.GeneratedMSBuildEditorConfig.editorconfig
/backend/BionicPRO/obj/Debug/net8.0/BionicPRO.GlobalUsings.g.cs
/backend/BionicPRO/obj/BionicPRO.csproj.nuget.dgspec.json
/backend/BionicPRO/obj/BionicPRO.csproj.nuget.g.props
/backend/BionicPRO/obj/BionicPRO.csproj.nuget.g.targets
/backend/BionicPRO/obj/project.assets.json
/backend/BionicPRO/obj/project.nuget.cache
